<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Twoi rycerze</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>




</head>
<body>

<div class="container">

    <h3>Posiadane złoto: <span th:text="${playerinformation.gold}"/></h3>

    <h4><a th:href="${'/checkQuests'}">Aktualizuj Zadania</a></h4>


    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Imie rycerza</th>
            <th scope="col">Życie</th>
            <th scope="col">Maksymalne Życie</th>
            <th scope="col">Ilośc wykonanych zadań</th>
            <th scope="col">Poziom</th>
            <th scope="col">Bonus</th>
            <th scope="col">Zadanie</th>
            <th scope="col">Podgląd</th>
            <th scope="col">Usuń</th>
        </tr>
        </thead>
        <tbody th:each=" knight : ${knights}">
        <tr>
            <td th:text="${knight.name}"></td>
            <td th:text="${knight.hp}"></td>
            <td th:text="${knight.hpmax}"></td>
            <td th:text="${knight.level}"></td>
            <td th:text="${knight.exp}"></td>
            <td th:text="${knight.bonus}"></td>



            <td>
                <span th:if="${knight.quest==null}">Brak aktualnego zadania <a class="btn btn-primary btn-sm" th:href="${'/assignQuest?knightId='+knight.id}">Przypisz zadanie</a></span>
                <span th:if="${knight.quest!=null}" th:text="${knight.quest.description}"/>

            </td>
            <td><a class="btn btn-primary btn-sm" th:href="${'/knight?id='+knight.id}">Podgląd</a></td>
            <td><a class="btn btn-primary btn-sm" th:href="${'/knight/delete/'+knight.id}">Sprzedaj<h6>(zwrot 200złota)</h6></a></td>

        </tr>
        </tbody>
    </table>


    <div class="row">
        <a class="btn btn-primary btn-sm" href="/newknight">Zrekrutuj rycerza<h6>(300 złota)</h6></a>
    </div>


</div>
</body>
</html>